*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 300px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    height: 90px;
    width: 90px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    font-size: 60px;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 0.6rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #ffffc7;
    font-size: 35px;
}
.message{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.hide{
    display: none;
}